.about-page {
    width: 100%;
    min-height: 80vh;
    background-color: rgb(59, 52, 52);
    padding: 50px;
    text-align: center;
}

.about {
    font-size: 2rem;
}

.section-center {
    width: 95%;
    margin: 0 auto;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.about-page img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 5px #f7ffff;
    margin-bottom: 20px;
}
