.app-header {
    background-color: var(--clr5);
    color: var(--secondary-clr1);
    width: 90%;
    height: 12vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-header h1 {
    margin: 0;
}

.app-header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-header img {
    width: 150px;
    max-height: 12vh;
}

.app-header .links {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.links a {
    display: grid;
    place-content: center;
    transition: 0.5s;
}

.links .router-link-exact-active {
    font-size: 25px;
    color: rgb(134, 20, 20);
}

.links .router-link-exact-active:hover {
    color: rgb(84, 12, 12);
}
