.note-filter {
    position: fixed;
    top: 232px;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: white;
    transition: 0.5s;
    /* width: 20%; */
}
.filter-notes {
    padding-left: 10px;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 30px;
    background-color: white;
    border-radius: 0px 25px 25px 0px;
}

.filter-name {
    width: 15vw;
    padding-left: 30px;
}

.filter-notes:hover {
    cursor: pointer;
    filter: brightness(95%);
}

.filter-notes .tag {
    padding-left: 20px;
    color: whitesmoke;
    font-size: 1.4rem;
    font-weight: 1000;
    -webkit-text-stroke: 2px black;
}

.icon {
    width: 5vw;
}

.select {
    background-color: #feefc3;
}

.alone {
    margin: 0;
    padding: 0;
    border-radius: 50%;
    width: min-content;
}

.alone .icon {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    padding-left: 15px;
}

.alone .tag {
    padding-left: 15px;
}

.icons {
    position: fixed;
    top: 10;
    margin: 0;
    width: 5vw;
    padding-left: 15px;
}

.note-filter button {
    border: none;
    color: black;
    background-color: transparent;
    text-align: center;
    margin-left: 3px;
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 50%;
    transition: 0.5s;
}
