.note-filter{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 20%;
}
.filter-notes{
    padding-left: 40px;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 30px;
    background-color: white;
    border-radius: 0px 25px 25px 0px;
}

.filter-notes span{
    padding-left: 30px;
}

.filter-notes:hover{
    cursor: pointer;
    filter: brightness(95%);
}

.filter-notes .tag{
    color: whitesmoke;
    font-size: 1.4rem;
    font-weight:1000;
    -webkit-text-stroke: 2px black;
}

.select{
    background-color: #feefc3;
}