
.note-add{
    display: flex;
    align-items: center;
    width: max-content;
    justify-content: space-between;
    margin:0 auto;
    border-radius: 10px;
    border: solid rgb(9, 8, 8,30%);
    box-shadow:0px 0px 10px -2px #000000;
    border-width:1px 1px 1px 2px;
}

.init-form{
    display: flex;
    align-items: center;
}

.title{
    margin: 0;
    display: block;
    margin-right: auto;
}

.note-add button{
    color: black;
    border: none;
    background-color: transparent;
}

.add-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-form input{
    border: none;
    background-color: inherit;
}

.color-container{
    display: flex;
    flex-direction: column;
}

.note-add .color-picker{
    width: max-content;
    display: flex;
    padding: 10px;
    border: 1px solid black;
    border-radius: 25px;
    position: fixed;
    margin-top: 40px;
    left: 50%;
    z-index: 10;
    background-color: gray;
}
.note-add .color{
    margin: 0px 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.toggle-color{
    cursor: pointer;
}

.note-add input:hover{
    cursor:text;
}