.mail-compose {
    position: absolute;
    top: 70px;
    left: 5px;
    background-color: rgb(194, 231, 255);
    width: 40px;
    height: 40px;
    display: grid;
    place-content: center;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
}

.mail-compose:hover {
    width: 200px;
    box-shadow: 0px 3px 16px -1px rgba(0, 0, 0, 0.71);
}

.mail-compose span {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mail-compose:hover span::after {
    content: 'Compose';
    padding-inline-start: 30px;
    display: grid;
    place-content: center;
    font-family: 'Google Sans', Roboto, RobotoDraft, Helvetica, Arial,
        sans-serif;
}

.compose {
    position: absolute;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    left: 15%;
    top: 30%;
    width: 70%;
    background-color: rgb(214, 223, 241);
    border-radius: 10px;
    box-shadow: 0px 3px 16px 9px rgba(0, 0, 0, 0.71);
}

.compose input {
    border-radius: 5px;
    border: none;
}

.compose .msg {
    padding-bottom: 120px;
}

.compose div {
    cursor: pointer;
    font-size: 1rem;
    align-self: flex-end;
}

.send-btn {
    padding: 5px 10px;
    background-color: blue;
    color: white;
    border-radius: 10px;
}
