.email-filter {
    padding: 20px 50px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}

.email-filter .txt-search-box {
    width: 50%;
    position: relative;
}

.txt-search-box i {
    position: absolute;
    top: 35%;
    left: 20px;
}

.email-filter .txt-search {
    background-color: #dbe4f2;
    border: none;
    border-radius: 10px;
    width: 100%;
    padding-inline-start: 50px;
}

.email-filter .filter-box label {
}
