.email-filter {
    width: 85%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.email-filter .txt-search-box {
    width: 50%;
    position: relative;
}

.txt-search-box i {
    position: absolute;
    top: 35%;
    left: 10px;
}

.email-filter .txt-search {
    background-color: rgb(234, 241, 251);
    border: none;
    border-radius: 10px;
    width: 100%;
    padding-inline-start: 30px;
}

.email-filter .filter-box {
    display: flex;
    flex-direction: column;
}

.filter-box label {
    display: flex;
    justify-content: space-between;
}

.filter-box label input {
    margin: 1px 0;
}

@media (min-width: 600px) {
    .email-filter .filter-box {
        flex-direction: row;
        justify-content: flex-end;
        height: 100%;
    }

    .filter-box label {
        justify-content: end;
        width: 75px;
    }
}
